# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#dll files
*.dll

#history files
/.history/*

#src files
/src/*

#vscode files
/.vscode/*

#Makefile
Makefile
*.cbp
*.depend
*.layout
